<div>
  @if (themeService.getCurrentTheme() === 'dark') {
    <button
      z-button
      zType="ghost"
      zSize="sm"
      zTooltip="Light Theme"
      zPosition="right"
      (click)="themeService.toggleTheme()"
    >
      <lucide-angular [img]="sunIcon" />
    </button>
  } @else {
    <button
      z-button
      zType="ghost"
      zSize="sm"
      zTooltip="Dark Theme"
      zPosition="right"
      (click)="themeService.toggleTheme()"
    >
      <lucide-angular [img]="moonIcon" />
    </button>
  }
</div>
