<z-layout class="min-h-screen overflow-hidden">
  <z-resizable class="bg-background block xl:flex">
    <z-resizable-panel zMin="25" zMax="99.99" zDefaultSize="35" class="relative z-2 shadow-2xl">
      <div class="bg-background relative h-screen shadow-md">
        <div class="absolute top-4 left-4">
          <app-theme-toggle />
        </div>
        <router-outlet />
      </div>
    </z-resizable-panel>
    <z-resizable-handle zWithHandle />
    <z-resizable-panel zDefaultSize="70" class="bg-background relative z-1 overflow-hidden">
      <om-flickering-grid
        class="pointer-events-none fixed top-0 left-0 z-0 h-screen w-screen"
        [squareSize]="10"
        [gridGap]="7"
        [flickerChance]="0.1"
      />
    </z-resizable-panel>
  </z-resizable>
</z-layout>
