<nav
  class="text-foreground bg-background-light fixed top-0 right-0 left-0 z-50 flex items-center justify-between rounded-b-lg border px-5 py-3 shadow-md/10 transition-transform duration-500"
  [ngClass]="this.isVisible() ? 'translate-y-0' : '-translate-y-full'"
>
  <div class="items-center gap-4 md:hidden">
    <button z-button z-menu zType="ghost" zTrigger="hover" [zMenuTriggerFor]="navMenu">
      <lucide-angular [img]="menuIcon" />
    </button>
  </div>
  <div class="hidden items-center gap-4 md:flex">
    <ng-container *ngTemplateOutlet="buttons" />
  </div>
  <ng-template #navMenu>
    <div z-menu-content class="w-48">
      <ng-container *ngTemplateOutlet="buttons" />
    </div>
  </ng-template>
  <ng-template #buttons>
    @for (item of items; track item) {
      <a z-button zType="ghost" [routerLink]="item.route">
        <lucide-angular [img]="item.icon" />
        {{ item.label }}
      </a>
    }
  </ng-template>
  <div class="flex items-center">
    <app-theme-toggle />
    <z-divider zOrientation="vertical" class="mx-2 h-6" />
    <button z-button z-menu zType="ghost" zShape="circle" zSize="icon" [zMenuTriggerFor]="userMenu">
      <lucide-angular [img]="userIcon" />
    </button>
  </div>
  <ng-template #userMenu>
    <div z-menu-content class="bg-background-light w-24">
      @if (isLoggedIn()) {
        <button z-menu-item>Profile</button>
        <button z-menu-item>Settings</button>
        <button z-menu-item (click)="logout()">Logout</button>
      } @else {
        <button z-menu-item (click)="login()">Login</button>
      }
    </div>
  </ng-template>
</nav>
