name: Deploy

on:
  workflow_call:

jobs:
  web:
    runs-on: tux
    continue-on-error: true
    if: github.ref == 'refs/heads/main'

    steps:
    - uses: actions/checkout@v4

    - name: Deploy
      working-directory: ./tools
      run: ./run-docker-prod.sh
