name: Deploy

on:
  workflow_call:
  workflow_dispatch:

jobs:
  web:
    runs-on: tux
    continue-on-error: true

    steps:
    - uses: actions/checkout@v4

    - name: Deploy
      working-directory: ./tools
      run: ./run-docker-prod.sh
